.Message {
  padding: 0 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-top: 15px;
  background-color: #f9f9f9;
}

.Message-header {
  padding: 5px 10px;
  margin: 0 -10px;
  border-bottom: 1px solid #ccc;
  font-size: 12px;
}

.Message-header > span {
  margin-right: 10px;
}

.Message-body {
  padding: 10px 0;
}

.Message-body p {
  margin: 0;
  white-space: pre-wrap;
}

.Message-image {
  width: 200px;
  margin-bottom: 10px;
}