.Messages {
  position: fixed;
  width: calc(100% - 30px);
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.Messages-list {
  flex-grow: 1;
  overflow-y: scroll;
  margin: 0 -15px;
  padding: 0 15px 15px;
}