.AddForm {
  margin: 0 -15px;
  padding: 15px;
  border-top: 1px solid #ccc;
}

.AddForm-message {
  padding: 5px;
  width: 100%;
  resize: none;
  height: 100px;
}

.AddForm-options {
  margin-top: 10px;
  height: 24px;
  display: flex;
  align-items: center;
}

.AddForm-options > * {
  max-height: 24px;
}

.AddForm label {
  display: inline-block;
  margin-right: 10px;
  font-size: 14px;
}

.AddForm input {
  margin-right: 20px;

}

.AddForm-author {
  padding: 5px;
  height: 100%;
}

.AddForm-file {
  flex-grow: 1;
}

.AddForm-sendBtn {
  padding: 3px 15px;
  flex-basis: 20%;
  max-width: 200px;
}